# Virtual environment
.venv/

# Cache & artifacts
__pycache__/
*.pyc
*.pyo

# Logs & checkpoints
*.log
*.ckpt
*.pt
*.bin
*.safetensors

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Dataset lokal (jangan commit data besar)
data/

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE/editor
.vscode/
.idea/

# ENV
.env
