# Virtual environment
.venv/

# dont push models
models/

# Cache & artifacts
__pycache__/
*.pyc
*.pyo

# Logs & checkpoints
*.log
*.ckpt
*.pt
*.bin

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE/editor
.vscode/
.idea/

# unnecessary files and folders
MD/
_model/
*.jsonl
*.txt